In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ast import literal_eval
import re
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv(r"train.csv")

In [3]:
df.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000

In [4]:
to_drop=["id","homepage","imdb_id","poster_path"]
df.drop(to_drop,axis=1,inplace=True)

In [5]:
df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [6]:
#Now there are two columns for titles.original_title column represnt the title of the movie in its original language format while title column consists of name of the movies that has been translated to english. So there is no use of keeping original_title column.
df.drop("original_title",axis=1,inplace=True)

In [7]:
df.head()

,belongs_to_collection,budget,genres,original_language,overview,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",en,"When Lou, who has become the ""father of the In...",6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Mia Thermopolis is now a college graduate and ...,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",en,"Under the direction of a ruthless instructor, ...",64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",hi,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",ko,Marine Boy is the story of a former national s...,1.148070,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 18 columns):
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
original_language        3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(2), object(14)
memory usage: 422.0+ KB

The dataset is quite messy. While going through the datset it can be seen that many columns has dictionary inside a list and that list is in form of string. Every columns need to be processed seperately because the keys and value present are different in each column.

Belongs to collection column

In [9]:
#filling the null value with none i.e. it will represent that there is no prequel of the current movie.
df.belongs_to_collection.fillna("None", inplace=True)

In [10]:
#The values in the cell are in string format but consists of a list in it. In that list there is again a dictionary.
#So first task is to take out th list from the string

for i in range(0,len(df)):
    df["belongs_to_collection"][i]=eval(df["belongs_to_collection"][i])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [11]:
#In the list we have only one dictionary in which the prequel or the collection is the given with the key of "name".
#So we need to extract the value associated with that key.

for i in range(0,len(df)):
    if df["belongs_to_collection"][i]== None:
        pass
    else:
        df["belongs_to_collection"][i]=df["belongs_to_collection"][i][0]["name"]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
#Again the movies which do not have any prequel has taken null value which need to be filled with None.
df.belongs_to_collection.fillna("None",inplace=True)

Genres column

A movie can be part of a single collections of movie but it can have multiple genre. Genre column has the same of the nested multiple variable but the only issue is it have multiple dictionary inside the list but it has the same key of "name".

In [13]:
#Genre column has 7 null values. So lets see what are the movies and can we input the genre based on our knowledge.

df[df.genres.isnull()]["title"].reset_index()

   index                                            title
0    470  The Book of Mormon Movie, Volume 1: The Journey
1   1622                                          Jackpot
2   1814                                Ryaba, My Chicken
3   1819                                Sky. Plane. Girl.
4   2423                                        Amarkalam
5   2686                                             Lift
6   2900                           Rita's Last Fairy Tale

In [14]:
#Seems strange name but we can give it a try by checking which genres these movies belongs to.
#For now we will fill in these values with a string file of "other" but can processes it later while developing more insights.

df.genres.fillna("None",inplace=True)

In [15]:
#So first task is to take out th list from the string

for i in range(0,len(df)):
    df["genres"][i]=eval(df["genres"][i])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [16]:
#Filling the empty values with "Other Genres"
df.genres.fillna("Other",inplace=True)

In [17]:
#Creating a list of categories of genre the movie belongs to
for i in range(0,len(df)):
    if df["genres"][i]=="Other":
        pass
    else:
        a=[]
        for j in range(0,len(df["genres"][i])):
            a.append(df["genres"][i][j]["name"])
        df["genres"][i]=a

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [18]:
#Dealing the genre which we mentioned "Other".
df[df.genres=="Other"]["title"]

#Looking for the genres that the movie beloged.

470     The Book of Mormon Movie, Volume 1: The Journey
1622                                            Jackpot
1814                                  Ryaba, My Chicken
1819                                  Sky. Plane. Girl.
2423                                          Amarkalam
2686                                               Lift
2900                             Rita's Last Fairy Tale
Name: title, dtype: object

In [19]:
df.at[470,"genres"]=["Adventure","Drama"]
df.at[1622,"genres"]=["Thriller","Comedy"]
df.at[1814,"genres"]=["Comedy"]
df.at[1819,"genres"]=["Drama","Romance"]
df.at[2423,"genres"]=["Action","Drama","Romance"]
df.at[2686,"genres"]=["Comedy","Drama"]
df.at[2900,"genres"]=["Fanatsy","Mystery","Drama"]

In [28]:
df["number_genre"]=len(df["genres"])

In [30]:
df.drop("number_genre",axis=1,inplace=True)

Production Companies column

In [20]:
#Similar process will be used. Except this time we will extract the name of 
#the production companies and the total number of production companies involved

#Filling null values
df.production_companies.fillna("None",inplace=True)

#Converting string into list

for i in range(0,len(df)):
    df["production_companies"][i]=eval(df["production_companies"][i])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [24]:
#Filling null values
df.production_companies.fillna("Unspecified",inplace=True)

In [25]:
#Creating a list of production companies of a certain movie
for i in range(0,len(df)):
    if df["production_companies"][i]=="Unspecified":
        pass
    else:
        a=[]
        for j in range(0,len(df["production_companies"][i])):
            a.append(df["production_companies"][i][j]["name"])
        df["production_companies"][i]=a

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':